/* Add CSS Styling */

#two {
    color: rgb(0, 0, 255);
    font-size: 36px;
}

#four {
    background-color: rgb(144, 238, 144);
    font-size: 24px;
    font-weight: bold;
}

.odd-number {
    background-color: rgb(255, 182, 193);
    font-family: 'Verdana and DejaVu Sans', sans-serif;
}

.but-cooler {
    font-size: 24px;
}