body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  font-size: 16px;
  border :#eee
}

.title {
  background: #e3f4ff;
}

.content {
  background: #e3f4ff;
}

.button-container {
  background: #e3f4ff;
  padding: 16px;
  margin: auto;
}

button {
  background: white;
  border: 1px solid #eee;
}